* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff8dc;

}


#area-cabecalho {
    background: #2e8b57;
    padding: 25px;
    text-align: center;
    border-bottom: 7px solid #1e5e3a;
}

#area-logo {
    color: #fff;
    font-size: 1.8em;
    padding: 0.5em;
}

#area-links {
    margin-top: 10px;
    padding: 1em;
}

#area-links a {
    display: inline-block;
    font-size: 1.2em;
    background: #3cb371;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px 0 10px;
    
}

#area-links a:hover {
    background: #fff;
    color: #2e8b57;
    text-decoration: underline;
}


#area-principal {
    margin: 0 auto;
    width: 900px;
    padding: 1em;
    border: 1px solid red;
    overflow: hidden;
}



#area-principal h2 {
    color: #2e8b57;
    border-bottom: 1px solid #1e5e3a;
}

#area-principal span {
    display: inline-block;
    margin: 10px 0 5px 0;
}

#area-conteudo {
    background: #fff;
    padding: 1em;
    width: 65%;
    float: left;
}

.conteudo  {
    margin-bottom: 2em;
    background: #fff8dc;
    padding: 2em;
}


.conteudo a {
    color: #d35400;
    font-weight: bold;
}

.conteudo a:hover {
    color: #ff0000;
}

#lateral {
    float: right;
    width: 35%;

}

#rodape {
    background: #333;
    padding: 2em;
    color: #fff;
    text-align: center;
    clear: both;
    
}





.cinza-sublinhado {
    color: #555;
    text-decoration: line-through;
    font-weight: 100;
}

.negrito {
    font-weight: bold ;
}

.verde {
    color: #98fb98;
}

