
:root {
    /* Cor Principal */
    --vermelho-streamflix: #e50914;

    --vermelho-destaque: #b2070f;

    --vermelho-hover: #fff0f0;

    /* Fundos e Bases */

    --fundo-pagina: #f0f2f5;

    --fundo-cartoes: #fff;

    --divisorias: #eee;

    /* Textos (Hierarquia) */

    --texto-escuro: #333;
    --texto-lista: #555;
    --texto-mes: #999;
}

/* ESTRUTURA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--fundo-pagina);
    padding: 40px 20px;
}

#cabecalho {
    text-align: center;
    margin-bottom: 50px;
}

.container-precos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1100px;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
    align-items: end;


}

.cartao {

    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    background: var(--fundo-cartoes);
    border-radius: 20px;
    background: var(--fundo-cartoes);
    height: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;

    position: relative;
}

.cartao ul {

    margin-bottom: 30px;
    flex-grow: 1;
}


/* TIPOGRAFIA */

#cabecalho h1 {
    color: var(--texto-escuro);
    font-weight: bold;
    font-size: 2.5rem;
    
}

#cabecalho p {
    color: var(--texto-escuro);
    margin-top: 10px;
    font-size: 1.1rem;
}

.cartao h3 {
    color: #666;
    font-weight: 600;
}

.preco {
    color: var(--texto-escuro);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.cartao li {
    list-style: none;
    color: var(--texto-lista);

    font-size: 1.2rem;

    padding: 15px 0;
    border-bottom: 1px solid var(--divisorias);
    
}

.cartao span {
    color: var(--texto-mes);
    font-size: 1rem;
    font-weight: normal;
}

.botao {
    background: #fff;
    border: 2px solid var(--vermelho-streamflix);
    color: var(--vermelho-streamflix);

    text-align: center;
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    
    text-decoration: none;

    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s; 
    
}

.botao:hover {
    background: var(--vermelho-hover);
}

.cartao.popular {
    border: 2px solid var(--vermelho-streamflix);
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 15px 30px rgba(229, 9, 20, 0.15);
    
}

.cartao.popular .botao.destaque {
    background: var(--vermelho-streamflix);
    color: #fff;
}

.cartao.popular .botao.destaque:hover {
    background: var(--vermelho-destaque);
}

.etiqueta {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    background: var(--vermelho-streamflix);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

     white-space: nowrap; /* se o texto for longo ele n quebra em duas linhas */
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
    .container-precos {
        grid-template-columns: 1fr;
        max-width: 500px; 
    }

    .cartao.popular {
        transform: scale(1);
    }
    
}
